<div class="header">
  <ng-container *ngIf="type === 'landing'; else homePage">
    <header class="header__landing">
      <img src="assets/logos/medium-word.svg" alt="" />

      <div class="header__actions">
        <app-dropdown
          [icon]="'translate'"
          [options]="options"
          [selectedOption]="selectedOption"
        ></app-dropdown>
        <app-button [color]="'red'" [text]="'Sign in'"></app-button>
      </div>
    </header>
  </ng-container>
  <ng-template #homePage>
    <header class="header__home">
      <img src="assets/logos/small-word.svg" alt="" />
      <nav class="header__nav">
        <ul>
          <li>
            <a class="active">Home</a>
          </li>
          <li>
            <a>TV Shows</a>
          </li>
          <li>
            <a>Movies</a>
          </li>
          <li>
            <a>New & Popular</a>
          </li>
          <li>
            <a>My List</a>
          </li>
          <li>
            <a>Browse by Languages</a>
          </li>
        </ul>
      </nav>
      <div class="header__actions">
        <app-icon name="search" width="17px" height="17px"></app-icon>
        <app-icon name="notification" width="17px" height="20px"></app-icon>
      </div>
    </header>
  </ng-template>
</div>
