<div class="dropdown">
  <label class="dropdown__label" *ngIf="label">{{ label }}</label>
  <ng-container *ngIf="icon">
    <app-icon [name]="icon"></app-icon>
  </ng-container>
  <select
    [(ngModel)]="selectedOption"
    (focus)="onFocus()"
    (blur)="onBlur()"
    (change)="onOptionSelected($event)"
    class="dropdown__select"
    [ngClass]="{ dropdown__select__icon: icon }"
  >
    <option
      class="dropdown__option"
      *ngFor="let option of options"
      [value]="option"
    >
      {{ option }}
    </option>
  </select>
</div>
