@import "colors";

:host {
  font-family: "Netflix Sans", sans-serif;
}

.dropdown {
  display: flex;
  align-items: center;
  gap: 1rem;

  &__label {
    font-size: 0.875rem;
    color: $primary-white;
  }

  &__select {
    width: auto;
    height: 30px;
    font-size: 0.875rem;
    background-color: $primary-black;
    color: $primary-white;
    border: 1px solid $primary-white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("../../../../assets/images/arrow.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 0.75rem) center;
    padding: 0 2rem 0 1rem;
    transition: background-color 0.3s ease;
  }
}
