// Primary colors
$primary-black: #000;
$primary-white: #fff;
$primary-red: #e50914;

// Secondary colors
$secondary-red-100: #eb3942;
$secondary-red-200: #c11119;
$secondary-red-300: #f50723;
$secondary-blue-100: #0071eb;
$secondary-blue-200: #448ef4;
$secondary-blue-300: #54b9c5;
$secondary-green: #46d369;

// Neutral colors
$grey-10: #e5e5e5;
$grey-20: #dcdcdc;
$grey-25: #d2d2d2;
$grey-50: #bcbcbc;
$grey-100: #b3b3b3;
$grey-150: #979797;
$grey-200: #808080;
$grey-250: #777;
$grey-300t40: rgba(109, 109, 110, 0.4);
$grey-300t70: rgba(109, 109, 110, 0.7);
$grey-350: #545454;
$grey-400: #414141;
$grey-450: #404040;
$grey-500: #3a3a3a;
$grey-550: #363636;
$grey-600T60: rgba(51, 51, 51, 0.6);
$grey-600: #333;
$grey-650: #2f2f2f;
$grey-700: #2a2a2a;
$grey-750: #262626;
$grey-800: #232323;
$grey-850: #181818;
$grey-900: #141414;

// Transparent Colors
$transparent-white-15: rgba(255, 255, 255, 0.15);
$transparent-white-20: rgba(255, 255, 255, 0.2);
$transparent-white-30: rgba(255, 255, 255, 0.3);
$transparent-white-35: rgba(255, 255, 255, 0.35);
$transparent-white-50: rgba(255, 255, 255, 0.5);
$transparent-white-70: rgba(255, 255, 255, 0.7);
$transparent-black-30: rgba(0, 0, 0, 0.3);
$transparent-black-60: rgba(0, 0, 0, 0.6);
$transparent-black-90: rgba(0, 0, 0, 0.9);
