<app-dropdown
  [options]="options"
  [selectedOption]="selectedOption"
  (selectionChange)="getSelectedOption($event)"
></app-dropdown>

<app-input
  type="text"
  label="Email or phone number"
  id="nome"
  name="nome"
  [(value)]="nome"
></app-input>

<app-input
  type="text"
  label="Password"
  id="password"
  name="password"
  [(value)]="password"
></app-input>

<app-icon name="info" width="24px" height="24px"></app-icon>

<app-maturity-rating [rating]="'TV-Y'"></app-maturity-rating>

<app-video-quality [quality]="'Ultra HD 4K'"></app-video-quality>
<app-video-quality [quality]="'dolby'"></app-video-quality>
